<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Resume</title>
		<link rel="stylesheet" href="/assets/styles/style.css" />
		<script
			src="https://kit.fontawesome.com/7f0efd52ac.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body class="font-poppins">
		<nav class="flex justify-center items-center mb-3 mb-10">
			<img class="w-60" src="https://hng.tech/img/brand-logo.png" alt="" />
			<a
				class="bg-tenth text-white py-1 px-1 rounded-sm ml-6"
				href="https://internship.zuri.team/"
				>Visit HNG</a
			>
		</nav>
		<section class="flex justify-around">
			<div class="w-4/5">
				<h1 class="text-justify text-secondary font-bold text-6xl">
					ADEDIBU PRECIOUS ADEOLU
				</h1>
				<h5 class="text-3xl font-light">Software Developer</h5>
				<p class="my-6">
					OBJECTIVE: To work in a challenging, result oriented environment that
					encourages creativity, innovation, versatility and accomplishment.
					PERSONAL ATTRIBUTES & QUALITIES Good Time Management with the ability
					to prioritise to meet tight deadlines. Ability to work on own
					initiative and a good team player. Ability to adapt to new
					environment. Strong analytical skill and results oriented. Ability to
					work as a good team lead.
				</p>
				<div class="flex flex-col md:flex-row text-justify">
					<div class="flex-2 md:mr-8">
						<div class="mb-10">
							<div
								class="
									flex
									items-center
									mb-3
									border-black border-b border-opacity-50
									max-w-primary
								"
							>
								<i
									class="
										bg-secondary
										rounded-secondary
										text-white text-2xl
										px-2
										py-2
										far
										fa-user
									"
								></i>

								<h3 class="font-bold text-2xl ml-2 text-secondary">Contact</h3>
							</div>
							<div>
								<div class="mb-4">
									<h3 class="font-semibold">Address</h3>
									<p class="font-light text-opacity-50 text-sm">Lagos,Lagos</p>
								</div>
								<div class="mb-4">
									<h3 class="font-semibold">Phone</h3>
									<p class="font-light text-opacity-50 text-sm">08188996821</p>
								</div>
								<div class="mb-4">
									<h3 class="font-semibold">E-mail</h3>
									<p class="font-light text-opacity-50 text-sm">
										adedibuprecious@gmail.com
									</p>
								</div>
								<div>
									<h3 class="font-semibold">LinkedIn</h3>
									<p class="font-light text-opacity-50 text-sm">
										https://www.linkedin.com/in/precious-adedibu-568aa211a
									</p>
								</div>
							</div>
						</div>
						<div class="mb-10 md:mb-0">
							<div
								class="
									flex
									items-center
									mb-3
									max-w-primary
									border-black border-b border-opacity-50
								"
							>
								<i
									class="
										fas
										fa-cubes
										bg-secondary
										rounded-secondary
										text-white text-2xl
										px-2
										py-2
									"
								></i>

								<h3 class="font-bold text-2xl ml-2 text-secondary">Skills</h3>
							</div>
							<div>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									(2010), Autodesk Inventor(2017), Microsoft Office package
									including, Excel, Word,
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									PowerPoint, MS office project 2010, Some basics of java.
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">Auto-cad</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									Machine learning
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">Matlab</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">Excel</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									Microsoft Office package
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">MS office</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									PowerPoint
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">Word</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">Mongodb</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									Programming
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">Python</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									Web Development
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">Laravel</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">PHP</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">MYSQL</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">
									JAVASCRIPT
								</p>
								<p class="mb-2 font-light text-opacity-50 text-sm">HTML/CSS</p>
								<p class="font-light text-opacity-50 text-sm">Nodejs/express</p>
							</div>
						</div>
					</div>
					<div class="flex-4">
						<div class="mb-10">
							<div
								class="
									flex
									items-center
									mb-3
									max-w-secondary
									border-black border-b border-opacity-50
								"
							>
								<i
									class="
										fas
										fa-briefcase
										bg-secondary
										rounded-secondary
										text-white text-2xl
										px-2
										py-2
									"
								></i>
								<h3 class="font-bold text-2xl ml-2 text-secondary">
									Work History
								</h3>
							</div>
							<div>
								<div class="flex">
									<h3 class="mr-6">2019-06 - 2019-12</h3>
									<div>
										<h2 class="font-bold">Mechanical Engineering Intern</h2>
										<p>
											Pricegate Engineering & Development Coy Ltd, Lagos, Lagos
										</p>
										<ul>
											<li class="font-light text-opacity-50 text-sm">
												• Checked all fire and life safety systems and equipment
												for proper placement at properties, including fire
												alarms, sprinkler systems and smoke detectors.
											</li>
											<li class="font-light text-opacity-50 text-sm">
												• Participated with preparation of design documents for
												trackwork, including alignments, specifications,
												criteria details and estimates.
											</li>
											<li class="font-light text-opacity-50 text-sm">
												• Provided engineering support to [Type] team during
												commissioning phase of project.
											</li>
											<li class="font-light text-opacity-50 text-sm">
												• Developed technical skills through training and
												shadowing experienced professionals.
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="mb-10">
							<div
								class="
									flex
									items-center
									mb-3
									max-w-third
									border-black border-b border-opacity-50
								"
							>
								<i
									class="
										fas
										fa-graduation-cap
										bg-secondary
										rounded-secondary
										text-white text-2xl
										px-2
										py-2
									"
								></i>
								<h3 class="font-bold text-2xl ml-2 text-secondary">
									Education
								</h3>
							</div>
							<div>
								<div class="flex mb-4">
									<h2 class="mr-6">2016-01-</h2>
									<div>
										<h2 class="font-bold">B.Sc.: Mechanical Engineering</h2>
										<h2 class="font-light text-opacity-50 text-sm">
											University of Lagos
										</h2>
									</div>
								</div>
								<div class="flex mb-4">
									<h2 class="mr-6">
										2011-09 - <br />
										2014-08
									</h2>
									<div>
										<h2 class="font-bold">Secondary school</h2>
										<h2 class="font-light text-opacity-50 text-sm">
											HIMMA INTERNATIONAL COLLEGE
										</h2>
									</div>
								</div>
								<div class="flex">
									<h2 class="mr-4">
										2003-08 - <br />
										2008-08
									</h2>
									<div>
										<h2 class="font-bold">PRIMARY SCHOOL</h2>
										<h2 class="font-light text-opacity-50 text-sm">
											LITTLE TOTS NURSERY AND PRIMARY SCHOOL - Minna, Niger
											State Primary school
										</h2>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div
								class="
									flex
									items-center
									mb-3
									max-w-secondary
									border-black border-b border-opacity-50
								"
							>
								<i
									class="
										fas
										fa-award
										bg-secondary
										rounded-secondary
										text-white text-2xl
										px-3
										py-2
									"
								></i>
								<h3 class="font-bold text-2xl ml-2 text-secondary">
									Certifications
								</h3>
							</div>
							<div>
								<div class="flex mb-4">
									<h2 class="mr-6">2018-06</h2>
									<p>
										CODELAGOS OUT OF SCHOOL PROGRAM Certificate in Web
										Development, October 2018.
									</p>
								</div>
								<div class="flex mb-4">
									<h2 class="mr-10">
										2019-<br />
										06
									</h2>
									<p>Data Science Nigeria (2019) AI training class (on CNN)</p>
								</div>
								<div class="flex mb-4">
									<h2 class="mr-10">
										2020- <br />
										03
									</h2>
									<p>
										ECX ENGINEERING EXPO (2020) 30 DAYS OF CODE(BACKEND TRACK)
									</p>
								</div>
								<div class="flex mb-4">
									<h2 class="mr-10">
										2019- <br />
										05
									</h2>
									<p>AI6 (2019) AI training (Data science, Deep-learning)</p>
								</div>
								<div class="flex mb-4">
									<h2 class="mr-10">
										2017- <br />
										08
									</h2>
									<p>Python Programming (2017) University course</p>
								</div>
								<div class="flex">
									<h2 class="mr-6">2019-05</h2>
									<p>
										THE AMERICAN SOCIETY OF HEATING,REFRIGERATING AND
										AIR-CONDITIONING(2019) MEMBER
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="flex justify-around">
			<form
				method="POST"
				action="/send"
				class="w-1/2 flex flex-col shadow-bigCard py-8 px-3 rounded-primary"
			>
				<h1 class="text-center text-secondary text-2xl font-bold mb-9">
					Get in Touch
				</h1>
				<p class="text-center"><%= msg %></p>
				<div class="flex flex-col mb-3">
					<label class="text-fifth text-sm" for="">Name</label>
					<input
						name="name"
						type="text"
						class="rounded-md border px-2 py-2 border-fourth"
					/>
				</div>
				<div class="flex flex-col">
					<label class="text-fifth text-sm" for="">Phone Number</label>
					<input
						name="phone"
						type="text"
						class="rounded-md border px-2 py-2 border-fourth"
					/>
				</div>
				<div class="flex flex-col mb-3">
					<label class="text-fifth text-sm" for="">Email</label>
					<input
						name="email"
						type="email"
						class="rounded-md border px-2 py-2 border-fourth"
					/>
				</div>
				<div class="flex flex-col mb-3">
					<label class="text-fifth text-sm" for="">Subject</label>
					<input
						name="subject"
						type="text"
						class="rounded-md border px-2 py-2 border-fourth"
					/>
				</div>
				<div class="flex flex-col mb-3">
					<label class="text-fifth text-sm" for="">Your Message</label>
					<textarea
						name="message"
						class="px-2 border border-fourth rounded-md"
						cols="30"
						rows="7"
					></textarea>
				</div>
				<input
					class="
						cursor-pointer
						bg-secondary
						self-center
						rounded-md
						font-semibold
						text-white text-sm
						mt-10
						py-2
						px-12
						submit
					"
					type="submit"
					value="Send Message"
				/>
			</form>
		</section>
	</body>
</html>
